@import url("https://fonts.googleapis.com/css?family=Lato");

$font-size: 18px;
$font-color:rgb(7, 5, 39);

body {
    background-color: indigo;
    font-family: 'Lato', sans-serif;
}

.container {
    background-color: lightsteelblue;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: navy;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

p {
    font-size: $font-size;
    color: $font-color;
}

.refren {
    font-weight: bold;
}